<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <header>
        <div class='box'>
            <nav class='row'>
                {{#if loggedIn}}
                <a id='home' class='col-1' href="/">Home</a>
                <a class='col-1' href='/dashboard'>Dashboard</a>
                <button id='logout-btn'>Logout</button>
                {{else}}
                <a class='col-1' href="/">Home</a>
                <a class='col-1' href='/login'>Login</a>
                {{/if}}
            </nav>
            <div id='header-title' class='row'>
                <a href="/">The Tech Blog</a>
            </div>
        </div>
    </header>
    <main>
        {{{ body }}}
    </main>
    <footer>
        Thanks for visiting!
    </footer>
    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
</body>

</html>