<h2>Create New Post</h2>
<form id='new-post-form'>
    <div>
        <lable for='title-input'>Title</lable>
        <input type='text' id='title-input' />
    </div>
    <div>
        <label for='post-content-input'>Content</label>
        <textarea id='post-content-input' name='post-content-input'
            form='new-post-form'>Enter content here...</textarea>
    </div>
    <button type='submit' id='create-new-post'>Create</button>
</form>

<script src="/javascript/add-post.js"></script> 