<h2>Sign Up</h2>
<form id='signup-form'>
    <div>
        <label for="username-login">Username</label>
        <input type='text' id='username-signup' />
    </div>
    <div>
        <label for='password-login'>Password</label>
        <input type='password' id='password-signup' />
    </div>
    <div>
        <button type='submit'>Sign Up!</button>
    </div>
    <div>
        <a href="/login">Login instead</a>
    </div>
</form>
<script src="/javascript/signup.js"></script>