/* variable declarations */
:root {
    --primary-color: #e6ffe6;
    --secondary-color: #331a00;
    --tertiary-color: #bfbfbf;
    --text-style: Open sans-serif;
}

/* add default's to weppage */
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 62.5%;
  }
  
  body {
    min-height: 100vh;
  }
  
  .box {
    width: 80%;
    margin: 0 auto;
  }
  
  .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  
  .flex.column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  .flex.row-rev {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  
  .flex.column-rev {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  
  .flex.center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .flex.start {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  
  .flex.end {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  
  .border {
    border: solid 1rem var(--secondary-color);
  }
  
  h1 {
    font-size: 3.2rem;
  }
  
  h2 {
    font-size: 2.4rem;
  }
  
  h3 {
    font-size: 2.08rem;
  }
  
  h4 {
    font-size: 1.6rem;
  }
  
  h5 {
    font-size: 1.28rem;
  }
  
  h6 {
    font-size: 1.12rem;
  }
  
  p {
    font-size: 1.6rem;
  }
  
  a {
    font-size: 1.6rem;
  }
  
  li {
    font-size: 1.6rem;
  }
  
  .btn {
    display: inline-block;
    font-size: 1.6rem;
    text-align: center;
    width: auto;
    height: auto;
    padding: .2rem 1rem;
    border-radius: .7rem;
    border: .1rem solid grey;
  }
  
  .center {
    text-align: center;
  }
  
  .left {
    text-align: left;
  }
  
  .right {
    text-align: right;
  }
  
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
  
  .col-1 {
    width: 10%;
  }
  
  .col-2 {
    width: 20%;
  }
  
  .col-3 {
    width: 30%;
  }
  
  .col-4 {
    width: 40%;
  }
  
  .col-5 {
    width: 50%;
  }
  
  .col-6 {
    width: 60%;
  }
  
  .col-7 {
    width: 70%;
  }
  
  .col-8 {
    width: 80%;
  }
  
  .col-9 {
    width: 90%;
  }
  
  .col-10 {
    width: 100%;
  }

  /* // Extra small devices (portrait phones, less than 576px) */
@media (min-width: 0px) {
    body {
      background-color: var(--primary-color);
    }

    a {
      text-decoration: none;
    }

    header nav {
        justify-content: space-between;
        text-align: center;
    }

    .row {
      text-align: center;
    }

    .col-1 {
        width: 100%;
    }

    header {
        background-color: var(--secondary-color);
        padding: 2rem 2rem 2.5rem 2rem;
    }

    header nav a {
        text-decoration: none;
        color: var(--primary-color);
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    #header-title {
        background-color: var(--primary-color);
        box-shadow: 0.5rem 0.5rem var(--tertiary-color);
        border-radius: 1rem;
    }

    #header-title a {
        text-decoration: none;
        color: var(--secondary-color);
        width: 80%;
        margin: 0 auto;
        font-size: 4rem;
    }

    #logout-btn {
      background: none;
      border: none;
      padding: 0;
      cursor: pointer;
      text-decoration: none;
      color: var(--primary-color);
      font-size: 2rem;
      transition: color .1s;
      margin-bottom: 1rem;
    }

    li {
      margin: 1rem 0;
    }

    #blog-header {
      background-color: var(--secondary-color);
    }

    #blog-header div{
      width: 100%;
      padding: 1rem;
    }

    #blog-header a {
      color: var(--primary-color);
      font-size: 3rem;
    }

    #blog-header span {
      color: var(--primary-color);
      font-size: 2rem;
    }

    #blog-content {
      background-color: var(--primary-color);
    }

    #blog-content p {
      color: var(--secondary-color);
      padding: 1rem;
    }

    

}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

   
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {


}